<div class="inner-content-wrapper">
    <div class="header">
        <h2><%= type %></h2>
    </div>
    <% if ((prop.ZEITRAUM || type === "Behindertenparkplätze") && inRange) { %>
        <div class="seperator <%= dateRange ? "" : "undefined" %>"></div>
    <% } %>
    <div class="body">
        <% if (prop.ADRESSE) { %>
            <p class="location"><%= prop.ADRESSE %></p>
        <% } %>
        <% if (type === "Kurzparkzone") { %>
            <p class="location"><%= prop.BEZIRK %>. Bezirk</p>
        <% } else if (type === "Kurzparkstreifen") { %>
            <p class="location"><%= prop.STRNAM %> <%= prop.GELTUNGSBEREICH %></p>
        <% } else if (type === "AnrainerInnenparkplatz") { %>
            <table>
                <tr>
                    <td>Stellplätze:</td>
                    <td><%= prop.STELLPL_ANZ %></td>
                </tr>
                <tr>
                    <td>Parkkleber:</td>
                    <td><%= prop.AUSNAHME_TXT.replace("ausgen. Fahrzeuge mit Parkkleber für den", "") %></td>
                </tr>
            </table>
        <% } else if (type === "Carsharing") { %>
            <table>
                <tr>
                    <td>Stellplätze:</td>
                    <td><%= prop.FZG_ANZAHL %></td>
                </tr>
            </table>
        <% } else if (type === "Fußgängerzonen") { %>
            <p><small><%= prop.AUSN_TEXT %></small></p>
        <% } else if (type === "Garagen") { %>
            <% if (prop.BEZEICHNUNG !== prop.ADRESSE) { %>
                <p><%= prop.BEZEICHNUNG %></p>
            <% } %>
            <p><small><%= prop.BETREIBER %></small></p>
            <table>
                <tr>
                    <td>Park & Ride:</td>
                    <td><%= booleanToCheckmark(prop.PAR) %></td>
                </tr>
                <tr>
                    <td>Behindertenparkplätze:</td>
                    <td><%= booleanToCheckmark(prop.BPL) %></td>
                </tr>
            </table>
        <% } else if (type === "Tempo 30 Zone") { %>
            <p><%= prop.ZONE_NAME %></p>
            <p><small>Die Informationen und Pläne zu den Tempo 30-Zonen haben keine Rechtsgültigkeit,
                    sondern dienen lediglich der Veranschaulichung.</small></p>
        <% } else if (type === "Verkaufsstelle") { %>
            <p><%= prop.TYP %></p>

        <% } else if (type === "Behindertenparkplätze") { %>
            <p class="location"><%= prop.STRNAM %> <%= prop.GELTUNGSBEREICH %></p>
        <% } else if (type === "Geltungsbereich" || type === "Berechtigungszone") { %>
            <% if (prop.BEZIRK) { %>
                <p class="location"><%= prop.BEZIRK %>. Bezirk</p>
            <% } %>
            <p><%= prop.BEZEICHNUNG %></p>
            <p><%= prop.ANMERKUNG %></p>
            <p>
                <small><%= prop.TEXT_RECHT %></small>
            </p>
        <% }
        if (dateRange) {
        %>
            <table title="<%= prop.ZEITRAUM %>">
                <% for (var day in dateRange) {
                if (Object.prototype.hasOwnProperty.call(dateRange, day) && dateRange[day]) { %>
                    <tr>
                        <td><%= dateRange[day].name %></td>
                        <td><%= dateRange[day].startHour %>-<%= dateRange[day].endHour %> Uhr</td>
                    </tr>
                <% }
                } %>
            </table>
        <% } else { %>
            <p><%= prop.ZEITRAUM %></p>
        <% } if (prop.DAUER) { %>
            <p>Parkdauer: <%= prop.DAUER %></p>
        <% } %>
        <% if (showDate) { %>
            <p>Gültig ab: <%= date %></p>
        <% } %>
    </div>
</div>
